<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="donate" data-bs-toggle="modal" data-bs-target="#exampleModal" >
  Donate Now
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label" style="color: black;">Enter the Amount</label>
              <input type="tel" class="form-control" id="donate-amount" required>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="handlePayment()" id="pay-btn">Pay</button>
      </div>
    </div>
  </div>
</div>