<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div style="height: 100vh; color: #00203F;" class="d-flex flex-column justify-content-center text-center">
        <i class="large material-icons">sentiment_very_dissatisfied</i>
        <h3><strong>404</strong>: PAGE NOT FOUND!</h3>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>